<div class="container">
  <div class="form-input-field">
    <div class="form-group">
      <label for="serialno">Bill No</label>
      <input type="text" name="serialno" class="form-control" value="" [(ngModel)]="serialno" />
    </div>
    <div class="form-group">
      <label for="shopname">Shop Name</label>
      <select class="form-control" (change)="getShopSelect($event)">
        <option>Please select shop name</option>
        <option *ngFor="let shopList of shopDetails" value="{{shopList.gstno}}">{{shopList.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="modetransport">Mode of Transport</label>
      <select class="form-control" (change)="getModeTransport($event)">
        <option>Please Select Mode Of Transport</option>
        <option value="JEYAVILAS">JEYAVILAS</option>
        <option value="ETC">ETC</option>
      </select>
    </div>
    <div class="form-group">
        <label for="billdate">Bill Date</label>
        <br />
        <p-calendar [(ngModel)]="billdate" dateFormat="dd.mm.yy"></p-calendar>
    </div>
    <div class="form-group">
      <label for="noofbag">No Of Bag</label>
      <input type="text" name="noofbag" class="form-control" value="" [(ngModel)]="noofbag" />
    </div>
    <div class="form-group">
      <label for="unit">Unit</label>
      <input type="text" name="unit" class="form-control" value="" [(ngModel)]="unit" />
    </div>
    <div class="form-group">
      <label for="rate">Rate</label>
      <input type="text" name="rate" class="form-control" value="" [(ngModel)]="rate" />
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="exportAsPDF('open');">Open Pdf</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="exportAsPDF('download');">Download Pdf</button>
    </div>
  </div>
</div>
